@import "./reset.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }

    html {
        position: relative;
        left: calc((100vw - 100%) / 2);
        overflow-x: hidden;
    }

    body {
        font-family: "Noto Sans KR", sans-serif;
        background-color: hsl(var(--secondary));
        color: hsl(var(--foreground));
        overflow: hidden; /* 스크롤 제거 → 스크롤바 공간 사라짐 */
        padding-right: 15px; /* (보정 안 하면 화면 흔들림 발생) */
    }

    button {
        cursor: pointer;
    }
}

@layer utilities {
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }
}

/*shadow*/
:root {
    --shadow-0: none;
    --shadow-2: 0px 1px 2px 0px rgba(0, 0, 0, 0.16), 0px 0px 1px 0px rgba(0, 0, 0, 0.12);
    --shadow-4: 0px 2px 4px 0px rgba(0, 0, 0, 0.16), 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
    --shadow-8: 0px 4px 8px 0px rgba(0, 0, 0, 0.16), 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
    --shadow-16: 0px 8px 16px 0px rgba(0, 0, 0, 0.16), 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
}

/*color*/
:root {
    --text-primary: #030712;
    --text-secondary: #374151;
    --text-tertiary: #4b5563;
    --text-tertiary-hover: #374151;
    --text-tertiary-press: #1f2937;
    --text-info: #2563eb;
    --text-info-bold: #1e40af;
    --text-warning: #ca8a04;
    --text-warning-bold: #854d0e;
    --text-success: #16a34a;
    --text-success-bold: #166534;
    --text-danger: #dc2626;
    --text-danger-bold: #991b1b;
    --text-disabled: #6b7280;
    --text-brand: #2563eb;
    --text-brand-hover: #1d4ed8;
    --text-brand-press: #1e40af;
    --text-selected: #2563eb;
    --text-inverse: #ffffff;

    --bg-primary: #ffffff;
    --bg-secondary: #f9fafb;
    --bg-tertiary: #f3f4f6;
    --bg-tertiary-hover: #e5e7eb;
    --bg-tertiary-press: #d1d5db;
    --bg-info: #1d4ed8;
    --bg-info-subtle: #eff6ff;
    --bg-warning: #eab308;
    --bg-warning-subtle: #fefce8;
    --bg-success: #15803d;
    --bg-success-subtle: #f0fdf4;
    --bg-danger: #b91c1c;
    --bg-danger-subtle: #fef2f2;
    --bg-danger-hover: #b91c1c;
    --bg-danger-press: #991b1b;
    --bg-inverse: #ffffff;
    --bg-disabled: #d1d5db;
    --bg-brand: #2563eb;
    --bg-brand-hover: #1d4ed8;
    --bg-brand-press: #1e40af;
    --bg-selected: #eff6ff;
    --bg-selected-hover: #dbeafe;
    --bg-selected-press: #bfdbfe;
    --bg-button-black: #1f2937;
    --bg-button-black-hover: #111827;
    --bg-button-black-press: #030712;

    --border-primary: #6b7280;
    --border-primary-hover: #4b5563;
    --border-primary-press: #374151;
    --border-secondary: #6b7280;
    --border-secondary-hover: #4b5563;
    --border-secondary-press: #374151;
    --border-focus: #2563eb;
    --border-info: #2563eb;
    --border-info-subtle: #dbeafe;
    --border-warning: #eab308;
    --border-warning-subtle: #fefce8;
    --border-success: #16a34a;
    --border-success-subtle: #f0fdf4;
    --border-danger: #dc2626;
    --border-danger-subtle: #fef2f2;
    --border-disabled: #6b7280;
    --border-brand: #2563eb;
    --border-brand-hover: #1d4ed8;
    --border-brand-press: #1e40af;
}

.dark {
    --text-primary: #030712;
    --text-secondary: #374151;
    --text-tertiary: #4b5563;
    --text-tertiary-hover: #374151;
    --text-tertiary-press: #1f2937;
    --text-info: #2563eb;
    --text-info-bold: #1e40af;
    --text-warning: #ca8a04;
    --text-warning-bold: #854d0e;
    --text-success: #16a34a;
    --text-success-bold: #166534;
    --text-danger: #dc2626;
    --text-danger-bold: #991b1b;
    --text-disabled: #6b7280;
    --text-brand: #2563eb;
    --text-brand-hover: #1d4ed8;
    --text-brand-press: #1e40af;
    --text-selected: #2563eb;
    --text-inverse: #ffffff;

    --bg-primary: #ffffff;
    --bg-secondary: #f9fafb;
    --bg-tertiary: #f3f4f6;
    --bg-tertiary-hover: #e5e7eb;
    --bg-tertiary-press: #d1d5db;
    --bg-info: #1d4ed8;
    --bg-info-subtle: #eff6ff;
    --bg-warning: #eab308;
    --bg-warning-subtle: #fefce8;
    --bg-success: #15803d;
    --bg-success-subtle: #f0fdf4;
    --bg-danger: #b91c1c;
    --bg-danger-subtle: #fef2f2;
    --bg-danger-hover: #b91c1c;
    --bg-danger-press: #991b1b;
    --bg-inverse: #374151;
    --bg-inverse-bold: #1f2937;
    --bg-disabled: #d1d5db;
    --bg-brand: #2563eb;
    --bg-brand-hover: #1d4ed8;
    --bg-brand-press: #1e40af;
    --bg-selected: #eff6ff;
    --bg-selected-hover: #dbeafe;
    --bg-selected-press: #bfdbfe;

    --border-primary: #6b7280;
    --border-primary-hover: #4b5563;
    --border-primary-press: #374151;
    --border-secondary: #6b7280;
    --border-secondary-hover: #4b5563;
    --border-secondary-press: #374151;
    --border-focus: #2563eb;
    --border-info: #2563eb;
    --border-info-subtle: #dbeafe;
    --border-warning: #eab308;
    --border-warning-subtle: #fefce8;
    --border-success: #16a34a;
    --border-success-subtle: #f0fdf4;
    --border-danger: #dc2626;
    --border-danger-subtle: #fef2f2;
    --border-disabled: #6b7280;
    --border-brand: #2563eb;
    --border-brand-hover: #1d4ed8;
    --border-brand-press: #1e40af;
}
